<div class="file-field">
  <%= form.file_field :image %>
</div>

<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="text-fields">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="text-fields">
  <%= form.label :address %>
  <%= form.text_field :address %>
</div>

<div class="number-fields">
  <%= form.label :max_guests %>
  <%= form.number_field :max_guests %>
</div>

<div class="number-fields">
  <%= form.label :price %>
  <%= form.number_field :price %>
</div>

<div class="text-fields">
  <%= form.label :tag_list, "Tags (separated by commas)" %>
  <%= form.text_field :tag_list %>
</div>


<% if !current_user.customer? %>
<div class="check-box" >
  <%= form.label :verification %>
  <%= form.check_box :verification %>
</div>
<% end %>