<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="text-fields">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="text-fields">
  <%= form.label :address %>
  <%= form.text_field :address %>
</div>

<div class="number-field">
  <%= form.label :max_guests %>
  <%= form.number_field :max_guests %>
</div>

<div class="number-field">
  <%= form.label :price %>
  <%= form.number_field :price %>
</div>