<h2>Title: <%= @listing.title %></h2>
<div>
  Posted By: <%= @listing.user.email %>
</div>
<h3>Price: <%= @listing.price %></h3>
<h3>Maximum Number of Guests: <%= @listing.max_guests %></h3>
<h3>Address:</h3>
<p><%= @listing.address %></p>
<h3>Some Info:</h3>
<p><%= @listing.description %></p>

<%= link_to "Edit Listing", edit_listing_path(@listing) %>