<h2>Booking Information:</h2>

<h3> Name of Listing: <%= link_to @booking.listing.title, booking.listing %> </td> 
<h3> Start Date: <%= @booking.start_date.strftime('%d %B %Y') %> </td>   
<h3> End Date: <%= @booking.end_date.strftime('%d %B %Y')  %> </td>    
<h3> Number of Guests: <%= @booking.num_guests %> </td>
<h3> Total Price: <%= @booking.total_price %> </td>       
<h3><%= link_to "Cancel Booking", booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>  