<h2>User Profile:</h2>

<%= image_tag @user.avatar_url(:thumb) if @user.avatar? %>

<h3>Email: <%= @user.email %></h2>
<h3>Name: <%= @user.first_name + " " + @user.last_name %></h3>
<h3>Phone Number: <%= @user.phone_number %></h3>
<h3>Country: <%= @user.country %></h3>

<%= link_to "Edit User", edit_user_path(@user) %>

<h3>Bookings:</h3>
<table>
<tr>
    <th> Listing Title </th>   
    <th> Start Date </th>     
    <th> End Date </th>   
    <th> Num. Guests </th>
    <th> Total Price </th>    
    <th> Cancel Bookings </th>                    
</tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= link_to booking.listing.title, booking.listing %> </td>
    <td><%= booking.start_date.strftime('%d %B %Y') %> </td>   
    <td><%= booking.end_date.strftime('%d %B %Y')  %> </td>    
    <td><%= booking.num_guests %> </td>
    <td><%= booking.total_price %> </td>       
    <td><%= link_to "Cancel Booking", booking, method: :delete %></td>    
  </tr>

<% end %>